fail_fast: false
default_language_version:
  python: python3
default_stages:
- pre-commit
- pre-push
minimum_pre_commit_version: 3.0.0
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-ast
  - id: check-added-large-files
  - id: end-of-file-fixer
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: file-contents-sorter
    files: docs/spelling/.*\.txt
  - id: trailing-whitespace
  - id: check-docstring-first
  - id: check-yaml
  - id: check-toml
- repo: https://github.com/asottile/pyupgrade
  rev: v3.17.0
  hooks:
  - id: pyupgrade
    args: [--py3-plus, --py38-plus, --keep-runtime-typing]
- repo: https://github.com/asottile/blacken-docs
  rev: 1.18.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==24.8.0]
- repo: https://github.com/rstcheck/rstcheck
  rev: v6.2.4
  hooks:
  - id: rstcheck
    additional_dependencies: [tomli]
    args: [--config=pyproject.toml]
- repo: https://github.com/PyCQA/doc8
  rev: v1.1.2
  hooks:
  - id: doc8
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.5
  hooks:
  - id: ruff-check
    args: [--fix, --exit-non-zero-on-fix]
    types_or: [python, pyi, jupyter]
  - id: ruff-format
    types_or: [python, pyi, jupyter]
