language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"
#  - "3.9-dev"

os: linux

dist: focal

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
# don't cache APT (can be slower)
cache:
  - pip
  - directories:
      - $HOME/.cache/pre-commit
      - $HOME/R/Library

branches:
  only:
    - master

addons:
  apt:
    update: true
    sources:
      - sourceline: "deb https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/"
        key_url: "http://keyserver.ubuntu.com:11371/pks/lookup?op=get&search=0xE298A3A825C0D65DFD57CBB651716619E084DAB9"
    packages:
      - libopenblas-base
      - r-base
      - r-base-dev
      - r-cran-mgcv
#      - libhdf5-dev  # Python3.9-dev

env:
  - USE_SLEPC=true
  - USE_SLEPC=false

jobs:
  fast_finish: true
  include:
    - name: "Code and reStructuredText analysis"
      os: linux
      python: "3.6"
      env:
        - USE_SLEPC=false
      script:
        - ./.scripts/ci/static_analysis.sh
      after_success: skip
      # If script returns a non-zero exit code, the build is failed, but continues to run before being marked as failed
      after_failure: skip

    #- name: "Python 3.6.5 on macOS"
    #  language: bash
    #  os: osx
    #  osx_image: xcode9.4
    #  env:
    #    - PYTHON_VERSION=3.6.5 USE_SLEPC=false

    #- name: "Python 3.7.3 on macOS"
    #  language: bash
    #  os: osx
    #  osx_image: xcode10.2
    #  env:
    #    - PYTHON_VERSION=3.7.3 USE_SLEPC=false

    - name: "Python 3.8 deployment"
      python: "3.8"
      env:
        - USE_SLEPC=true
        - secure: "lTOgoZugqLoYUjtMj7qUro200HfhJBycJ3RVEkyLH/5OrKhf5nTx66AocXfaGsQoXgsghS71s6r6wixd8f6tMBhbq78KksWVkXWWJr8QJ70dU68hx+6T0+rHFtuFNEpiB+BEjAqhBHfwY3p6LHc+hMiw7ej1lfiMQtt/KnSsf7BbJN+4Xre0Q9q1yHojz/Rdp1cvcR6PXJH9o4spL2+kyzQBAtPe22NZICOnfUjquQB5BHfGcipkhxld1sM9iHEljK2OHwJL7GCo8hwyE3c1UtEOIoAz9+pubrrnCSqaeOoLSBTFqh6yUjwfNyYuBJhrQFgwEloa4g4iI4BWwZcKk8ALbRldRdz2Fg1l838f+mVqErrdU04jblhQKlSM50ZDcTv/D+kx7BjHHDVmLUQQGO+Qo87PYMxsFgan0LKkyeyjfSJQjmNHgRZjhXTeoGP9ZxzQzfKuKvgNHmJc51ssGeSb09DJUzeZECNZRlOjeMkhnxHa8XL3GeY+aEZiuIqyGHyVaOlZUFD3Ov5rK0gcmSCFDuQgpcNFGRxeJeYLw0J4BobWHAAVJ2RnCvTjlYIU5hNicVxwfE+xObkGJ0VfAkSQdz3uhjrOZuXHGrKyxInaNc/4OcCQBM9okWIhSail2pdXUvUtu2qbPE9VZExlXwQc75HhmLuppHycU42WxKg="

before_install:
  - ./.scripts/ci/before_install.sh || travis_terminate 1

install:
  - ./.scripts/ci/install.sh || travis_terminate 1

script:
  - travis_wait 20 ./.scripts/ci/test.sh

after_success:
  - ./.scripts/ci/upload_coverage.sh

before_deploy:
  - git config --global user.name "TravisCI"
  - git config --global user.email "travis@travis-ci.com"

deploy:
  - provider: pypi
    username: "__token__"
    password:
      secure: "wTD+QMCulMrDEVJ77W03lD+qQFVTFHn00qp99Vb+nA5FMggDC0kTMjPdqsaBAihqygFb/gJwEdbUJzGERcBq4EFwjvc6l1pK7O5G1EfB29BpLIwFTTeZpkizev3RUV6c9KWEBMi9BneqXaECHO7XtTfR+RzbVYD1/cjBoyAGkhl354UVksX+KcRQGECvfLcyPWGt6J/2eb8GAGkTI3gq3DNDh7ehDiFLQVMZoL7Cev/S9UjzU2yDWIvnaNvm0ubZBb/1hY8xqKH/QjaLv7HYYzWnHwy7IWFJrqKGHN8zDDGrda35iOh/1d7tQBOjFaQZwaUiO2Lem2zPaQ0vXsK7TpIxEsa+K+Fqd3S83B+BsQZsg4Sny9cu4lNUHuuHD0a2XOz+aTvDIJ2A0Pd7C6XdYoVky042cRyLEiZ0efIOJowbSyKxIi4b85nEG2yIo2Aq5qHcKuSWDiNTUmwXK+Xfs84LUNig9xQJDv721XBACfeBEZs5Czv0pG8qphmGFrREOaRZ7zsrlQ+ODJvyGDXvj1jUiqFzL9/xvqmr59lhARD50WEbT1QI7KvcLZ6pCUU1zmjViaC1KAGi1f4RHP43Bwu9Zq1l0oMwyq/KdYhWQCHPnfed8vb0v8Y6emA9oenugqbmX+HpBXsh4cD3CoAxG2ULhvcbiVP7bYUEBi9B2gQ="
    distributions: "sdist bdist_wheel"
    skip_existing: true
    skip_cleanup: true  # necessary for vendorization
    on:
      tags: true
      branch: master
      condition: $TRAVIS_EVENT_TYPE == "push" && ! -z "${DEPLOY_TOKEN+x}"

  - provider: script
    script: ./.scripts/ci/update_bioconda.sh
    on:
      tags: true
      branch: master
      condition: $TRAVIS_EVENT_TYPE == "push" && ! -z "${DEPLOY_TOKEN+x}"

  - provider: script
    script: ./.scripts/ci/update_notebooks.sh
    on:
      # we don't require tags here because we want the latest changes in the notebooks/docs
      branch: master
      condition: $TRAVIS_EVENT_TYPE == "push" && ! -z "${DEPLOY_TOKEN+x}"

notifications:
  email:
    recipients:
      - info@cellrank.org
    on_success: change
    on_failure: always
