docrep>=0.3.0
joblib>=0.13.1
matplotlib>=3.3.0
networkx>=2.2
numba>=0.51.0
numpy>=1.17.0
pandas>=1.2.0
pygam>=0.8.0
pygpcca>=1.0.2
scanpy>=1.7.2
scikit-learn>=0.24.0
scipy>=1.2.0
scvelo>=0.2.4
seaborn>=0.10.0
setuptools>=41.0.1
typing_extensions
wrapt>=1.12.1
