-r ../requirements.txt  # must include this because of examples
bezier
ipython
ipywidgets
leidenalg
memory_profiler>=0.58.0
# 0.8.7 is really slow
nbsphinx>=0.8,<0.8.7
pypandoc
python-igraph
sphinx>=4
sphinx-autodoc-annotation
sphinx-autodoc-typehints>=1.10.3
sphinx-gallery
sphinx_copybutton
sphinx_rtd_theme
sphinxcontrib-bibtex>=2.3.0
