furo>=2022.06.04.1
ipywidgets
jinja2>=3.0.3
# 0.8.7 is really slow
nbsphinx>=0.8,<0.8.7
sphinx>=5
sphinx-autodoc-annotation
sphinx-autodoc-typehints>=1.10.3
sphinx-gallery
sphinx_copybutton
sphinxcontrib-bibtex>=2.3.0
