name: Test

on:
  schedule:
  - cron: 00 00 * * 1
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python: ['3.8', '3.10', '3.11', '3.12']
        slepc: [noslepc]
        include:
        - os: macos-latest
          python: '3.9'
          slepc: noslepc
        - os: ubuntu-latest
          python: '3.10'
          slepc: slepc

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}

    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox

    - name: Test
      run: |
        tox -e py${{ matrix.python }}-${{ matrix.slepc }} -vv
      env:
        PYTEST_ADDOPTS: -vv

    - name: Upload coverage
      uses: codecov/codecov-action@v4
      with:
        files: ./coverage.xml
        flags: tests-${{ matrix.os }}-${{ matrix.python }}-${{ matrix.slepc }}
        name: unittests
        env_vars: OS,PYTHON
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: false
        verbose: true
